.App {
    background-color: black;
    color: #d9d9d9;
}

.header{
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.singleGif {
    background-color: #16191d;
    padding: 20px;
}

a {
    color: #28b39d;
}